<div class="main-block">
    <h1 class="title">Руководство</h1>
    <mat-card class="card">
        <mat-card-content>
            <p>Приветствую на необычной прогулке по городу!</p>
            <p style="padding-top: 1rem;">Как ты мог догадаться, прогулка будет с небольшим музыкальным квестом.</p>
            <p style="padding-top: 1rem;"v>Короткая инструкция к сегодняшнему дню такая:</p>
            <ul class="circle">
                <li>Будет несколько заданий, связанных с музыкой, которую ты хорошо знаешь или же точно слышал ранее</li>
                <li>Точное описание каждого задания будет присутствовать на соответствующей странице приложения</li>
                <li>При правильном ответе тебе откроется карта со следующим пунктом назначения, а также название места,
                    которое тебе необходимо будет запомнить (в конце это пригодится)</li>
                <li>По достижении метки, твоей второй половинке необходимо ввести код для открытия следующего задания</li>
                <li>Цель прогулки - хорошо провести время и дойти до финальной точки</li>
            </ul>
            <p style="text-align: center; font-weight: bold;">Удачи!</p>
        </mat-card-content>
    </mat-card>
    <button mat-button class="button" (click)="continue()"><span>Продолжить</span></button>
</div>