<div class="main-block">
    <h1 class="h1">2</h1>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title class="card-title">Текст какой песни приведен ниже?</mat-card-title>
            <mat-card-subtitle>Данный трек был несколько раз переведен на разные языки, а затем снова на русский</mat-card-subtitle>
            <mat-card-subtitle *ngIf="isHelp">Вы можете взять еще одну подсказку</mat-card-subtitle>
            <button class="button-help" (click)="getHelp()">
                <mat-icon class="icon">help</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <div class="part">
                <p>Как и в предыдущий день, не могу до предела, нет, я не слабая-не давит.</p>
                <p>Быть дома-возможно, выбор не плохой, но родители знают, что я дурак.</p>
                <p>Я ношу парадокс adigm и получаю дождь.</p>
                <p>Новый год, стиль-кірпісі матери.</p>
            </div>
            <div class="part" *ngIf="isHelp">
                <p>Я как Makuley Galkin, я только в Одессе, на 2-м или на подъезде.</p>
                <p>Ну а когда просыпаешься утром, не могу найти подарки, просто запах перегонки.</p>
                <p>Мальчики танцуют с Дедом Морозом, я одна, дайте мне одеться.</p>
                <p>Какие-то улитки, серверы и гирлянды, я во рту, Юля, петарды.</p>
                <p>Πατσάν цитаты сжигают всю стену. Я устраиваю праздник, я хожу в Λένκα.</p>
            </div>
            <div class="part" *ngIf="isHelpNext">
                <p>Я спрашиваю антидепрессантов Санта-Клауса,</p>
                <p>Я спрашиваю антидепрессантов Санта-Клауса,</p>
                <p>Я спрашиваю антидепрессантов Санта-Клауса.</p>
            </div>
            <form [formGroup]="formGroupControl" class="form">
                <mat-form-field appearance="legacy" class="form-field">
                    <mat-label>Название трека</mat-label>
                    <input matInput formControlName="answer">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="actions">
            <button mat-button class="button" (click)="answer()"><span>Ответить</span></button>
          </mat-card-actions>
    </mat-card>
    <div class="button-nav-container">
        <button mat-button class="button-nav" *ngIf="isCorrect"><span>Открыть карту</span></button>
        <button mat-button class="button-nav" (click)="nextPage()" *ngIf="isCorrect"><span>Далее</span></button>
    </div>
</div>