.audio {
    margin-top: 1rem !important;
}

.password {
    .card-title {
        text-align: center;
        font-size: 14px;
    }
}

.form-field {
    width: auto;
}

.mat-card-content {
    margin-bottom: 0;
}

.button:disabled {
    background-color: #fff;
}
