<h1 mat-dialog-title>Для продолжения необходимо ввести код</h1>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroupPass" class="form">
        <mat-form-field appearance="legacy" class="form-field">
            <mat-label>Введите код</mat-label>
            <input matInput formControlName="pass" type="password" [(ngModel)]="answer">
        </mat-form-field>
    </form>
</mat-dialog-content>
<div mat-dialog-actions align="center">
    <button mat-button mat-dialog-close class="button">Закрыть</button>
    <button mat-button
            cdkFocusInitial
            [mat-dialog-close]="answer"
            [disabled]="!formGroupPass.dirty"
            class="button ml">
        Продолжить
    </button>
</div>